* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: rgb(48, 48, 48);
    ;
}

.Tic {
    display: flex;
    flex-direction: column;
}

.play {
    display: flex;
    height: 341x;
    width: 341px;
    margin: auto;
    flex-wrap: wrap;
    font-size: 150%;
    text-align: center;
}

.square {
    border-width: 1;
    border-color: rgb(48, 48, 48);
    border-style: solid;
    margin: 2%;
    min-height: 100px;
    min-width: 100px;
    font-size: 5rem;
}

.square[ход="X"] {
    color: rgb(190, 190, 190);
}

h2 {
    font-size: 3em;
    text-align: center;
    padding: 3%;
}

button {
    font-size: 2em;
    font-family: monospace;
    width: 140px;
    margin: 3em;
    align-self: center;
    background-color: rgb(190, 190, 190);
    padding: 0.5em;
    border: 0;
    color: rgb(48, 48, 48);
    ;
}

button:hover {
    background-color: rgb(48, 48, 48);
    color: white;
}