body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.play {
    display: flex;
    height: 370x;
    width: 370px;
    margin: auto;
    flex-wrap: wrap;
    font-size: 150%;
    text-align: center;
}

.square {
    border-width: 1;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    height: 100px;
    width: 100px;
    margin: 2%;
}

h2 {
    font-size: 250%;
    text-align: center;
    padding: 3%;
}